@model Exercise3.Models.DisplayDataContainerViewModel
@{
    ViewBag.Title = "display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    
    <canvas id="canvas1"></canvas>
    
        <script>
            function getData() {
                @{
                    var res = Model.model.GetData(Model.Param1,
                        int.Parse(Model.Param2), new[] { "Lon", "Lat", "Rudder", "Throttle" });
                }
                return {
                    lon: @res["Lon"] ,lat: @res["Lat"] ,
                    rudder: @res["Rudder"] ,throttle: @res["Throttle"]};
            }
            
            var data = getData();
            //if(display1)
            $("html").display1(data);
            //else if(display2)
            //display2();
            //else(if display3)
            //display3()
            //else if save()
        </script>
</body>
</html>
